<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
     <id>nexus-bypass</id>
     <name>Codehaus bypass mirror</name>
     <url>http://ec2-34-254-95-61.eu-west-1.compute.amazonaws.com:8081/repository/maven-central/</url>
     <mirrorOf>nexus</mirrorOf>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>internal</id>
      <username>teamcity</username>
      <password>V25C8QNBFJ9s</password>
    </server>
    <server>
      <id>releases</id>
      <username>teamcity</username>
      <password>V25C8QNBFJ9s</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>teamcity</username>
      <password>V25C8QNBFJ9s</password>
    </server>
    <server>
      <id>plugins</id>
      <username>teamcity</username>
      <password>V25C8QNBFJ9s</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>internal</id>
          <name>Docbyte Repository</name>
          <url>http://ec2-34-254-95-61.eu-west-1.compute.amazonaws.com:8081/repository/releases/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <name>Docbyte Snapshot Repository</name>
          <url>http://ec2-34-254-95-61.eu-west-1.compute.amazonaws.com:8081/repository/snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>plugins</id>
          <name>Docbyte plugin Repository</name>
          <url>http://ec2-34-254-95-61.eu-west-1.compute.amazonaws.com:8081/repository/plugins/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
	
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
</settings>
