<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.docshifter.core.logging.appenders" status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{DATE} %5p [%t] (%F:%L) - %m%n"/>
        </Console>
        <RollingFile name="DOCSHIFTER_FILE_TRACE" fileName="logs/docshifter-beans.log"
                     filePattern="logs/$${date:yyyy-MM}/docshifter-beans-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8" pattern="%d{DATE} %5p [%t] (%F:%L) - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="SPRING" fileName="logs/spring.log"
                     filePattern="logs/$${date:yyyy-MM}/spring-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8" pattern="%d{DATE} %5p [%t] (%F:%L) - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="LICENSING" fileName="logs/licensing.log"
                     filePattern="logs/$${date:yyyy-MM}/licensing-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8" pattern="%d{DATE} %5p [%t] (%F:%L) - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <TaskMessage name="TASK_MESSAGE">
            <PatternLayout charset="UTF-8" pattern="%m%ex{short.message}"/>
        </TaskMessage>
    </Appenders>
    <Loggers>
        <Logger name="com.docshifter" level="info">
            <AppenderRef ref="DOCSHIFTER_FILE_TRACE"/>
        </Logger>
        <Logger name="org.springframework" level="info">
            <AppenderRef ref="SPRING"/>
        </Logger>
        <Logger name="licensing" level="info">
            <AppenderRef ref="LICENSING"/>
        </Logger>
        <Logger name="com.docshifter.modules" level="warn">
            <AppenderRef ref="TASK_MESSAGE"/>
        </Logger>
        <Logger name="com.docshifter.core.logging.appenders.TaskMessageAppenderTest" level="warn">
            <AppenderRef ref="TASK_MESSAGE"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
